.calc-title {
    text-align: center;
    filter: drop-shadow(5px 5px 4px #17a2b8);
}

.calc-undertitle {
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
    filter: drop-shadow(2px 2px 2px #17a2b8);
}

.body1 {
    background-image: url(../img/old-calculator.jpg);
    background-attachment: fixed;
}

.body-wrapper {
    color: white;
}

.instructionColumn {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.buttonContainer {
    background-color: lightgray;
    border-radius: 10px;
    border: solid darkgrey;
    color: #565656;
}

.lastAnswer {
    font-weight: bold;
    font-size: 1.2em;
}

.historyAnswer {
    font-weight: bold;
    font-size: 1.2em;
}

.buttonContainer {
    display: inline-block;
}

.number-input {
    border-radius: 5px;
    margin: 5px;
}

.answerHeader {
    text-align: center;
    border: solid darkgrey;
    margin: 10px;
    border-radius: 5px;
}

.container .operator-container {
    display: inline-block;
}

.clearHistoryContainer {
    display: flex;
    justify-content: center;
}

.btn-sm {
    width: 35%;
}