.calc-title {
    text-align: center;
}

body {
    background-image: url(../img/old-calculator.jpg);
    background-attachment: fixed;
}

.body-wrapper {
    color: white;
}

.buttonContainer {
    background-color: lightgray;
    border-radius: 10px;
    border: solid darkgrey;
    color: #565656;
}

.lastAnswer {
    font-weight: bold;
    font-size: 1.2em;
}

.historyAnswer {
    font-weight: bold;
    font-size: 1.2em;
}

.numberInput .buttonContainer {
    display: inline-block;
}

.answerHeader {
    text-align: center;
    border: solid darkgrey;
}

.container .operator-container {
    display: inline-block;
}

.clearHistoryContainer {
    display: flex;
    justify-content: center;
}

.btn-sm {
    width: 35%;
}